.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.modal .outside {
    background: #262626;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 98;
    opacity: .3;
}

.modal .content {
    background: #262626;;
    width: 58vw;
    height: 30vh;
    position: absolute;
    z-index: 99;
    top: 30%;
    left: 21%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    color: #FFF;
    border-radius: 9px;
}

.modal .content .title {
    font-size: 1.5em;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}