.create{
    width: 638px;
    height: 54px;
    border-radius: 8px;
    background: #262626;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 248px;
    top: 170px;
    border: none;
    outline: none;
    padding: 0 1em;
}

.create:focus{
    border: 1px solid rgb(179, 20, 228);
}

.create::placeholder{
    font-size: 1.3em;
}

.iconAdd{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 170px;
    height: 54px;
    width: 90px;
    right: 270px;
    background-color: #1E6F9F;
    color: #FFF;
    border-radius: 8px;
    justify-content: center;
    font-size: 1em;
}
.edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 54px;
    width: 250px;
    background-color: #1E6F9F;
    color: #FFF;
    margin-left: 3em;
    border-radius: 8px;
    justify-content: center;
    font-size: 1em;
}
